In [1]:
print("Running")

Running

In [ ]:
#numeric

num=1.5
print(type(num))#float

num=1
print(type(num))#int

num=1-10j
print(type(num))#complex

num=10
x=5
print(num<x)#bool
print(type(bool))

num=5.6
b=int(num)#typecasting
print(type(b))#integer
print(type(num))#float

<class 'float'>
<class 'int'>
<class 'complex'>
False
<class 'type'>
<class 'int'>
<class 'float'>

In [30]:
print(" ====================================List=======================================")

# List
lst =[12,32,64,128,]#patan ganne [],list is a collection which is order and chagebale, allow duplicate members
print(type(lst))
print()



print("=====================================tuple========================================")
#tuple
tup=(10,20,33,3,4,5,6,7,8,)#patan ganne (),list is a collection which is order and unchagebale, allow duplicate members
print(type(tup))
print()



print("======================================range=====================================")
#range
my_range=range(0,50,5)#range ekak 0 idala 50 thula print wenna ona 5 +5 range eke  
print(list(my_range))# list eka dala itapasse thama print karanna ona
print(type(my_range))
item=my_range[2]
print(item)
print()


print("======================================dictionaory=====================================")
#dictionary
dic={"name" : "Sana","age":"12","adrees":"badulla"}
print(dic)

 ====================================List=======================================
<class 'list'>

=====================================tuple========================================
<class 'tuple'>

======================================range=====================================
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
<class 'range'>
10

======================================dictionaory=====================================
{'name': 'Sana', 'age': '12', 'adrees': 'badulla'}

In [34]:
list2=[1,3,4,5,6,7]
print(list2[-2])#lis
print(list2[-1])
print(list2[-2],[-3])
print(list2)

6
7
6 [-3]
[1, 3, 4, 5, 6, 7]

In [ ]:
list3=["dog","cat","Dog","Buffalow","Parrot"]
print(list3[1:4]) #this set  range  /1 index strt 3rd index finish
print(list3[0:2])
print(list3[:4])
print(list3[3:])

['cat', 'Dog', 'Buffalow']
['dog', 'cat']
['dog', 'cat', 'Dog', 'Buffalow']
['Buffalow', 'Parrot']

In [ ]:
mylist=[33,3,2,2,"cat"]
print(len(mylist))                            #lenth eka hoyaganna

5

In [ ]:
#insert
listA=["dog","cat","elephant","Fish"]
listA.insert(1,"Zebra")                      #1 liyanne index after a index eke add wenna ona value eka
print(listA)

['dog', 'Zebra', 'cat', 'elephant', 'Fish']

In [ ]:
#append
listB=["dog","cat","elephant","Fish"]
listB.append("Monkey")                         #append use karama eya last index eke value add wenawa
print(listB)

['dog', 'cat', 'elephant', 'Fish', 'Monkey']

In [ ]:
#extend
listB=["dog","cat","elephant","Fish"]
ListC=["Appale","Watermelon","Mango"]
listB.extend(ListC)               #extend eken wenne  eka list eke idala tawa ekata data danna  /methamna wenne list C eke thiyana eka list B ekata add wenawa 

print(listB)
print(ListC)

['dog', 'cat', 'elephant', 'Fish', 'Appale', 'Watermelon', 'Mango']
['Appale', 'Watermelon', 'Mango']

In [ ]:
#remove
list1=["dog","cat","elephant","Fish"]
list1.remove("dog")#valu eken remove karanawa
print(list1)

['cat', 'elephant', 'Fish']

In [70]:
print("6"*3)#string nisa meya 3prk print wenawa

666

In [ ]:
#pop 
list1=["dog","cat","elephant","Fish"]
list1.pop(1)                         # index eken remove karanawa
print(list1)

['dog', 'elephant', 'Fish']

In [ ]:
#clear
list3=["dog","cat","elephant","Fish"]
list3.clear()                        #CLEAR WENAWA  full list ekama 
print(list3)

[]

In [ ]:
#sort()
list3=["dog","cat","elephant","Fish"]
list3.sort()                    #isselama capital latters alphbat order print wela itapasse simple order print wenawa
print(list3)

['Fish', 'cat', 'dog', 'elephant']

In [ ]:
#sort(reverse=True)
list3=["dog","cat","elephant","Fish"]
list3.sort(reverse=True)          #alpahbat order eke capital after simple reverce print wenawa
print(list3)

['elephant', 'dog', 'cat', 'Fish']

In [79]:
list=[1,2,33,44,33,22,88]
list.sort()
print(list)

[1, 2, 22, 33, 33, 44, 88]

In [80]:
list=[1,2,33,44,33,22,88]
list.sort(reverse=True)
print(list)

[88, 44, 33, 33, 22, 2, 1]

In [ ]:
list=["dog","Cat","elephant","Fish"]
list.sort(key=str.lower)     #alphabat order ekata print wenawa uppercase,lower case ballanne na
print(list)

['Cat', 'dog', 'elephant', 'Fish']

In [ ]:
#list ekek thawa ekata copy karanna
list=[1,2,33,44,33,22,88]
listB=list
print(listB)

[1, 2, 33, 44, 33, 22, 88]

In [85]:
#join two list
list=[1,2,3]
list2=[2,3,4]
list3=list+list2
print(list3)

[1, 2, 3, 2, 3, 4]